asyncpg
build
httpx
lxml
mypy
myst-parser
pandas
pandas-stubs
pre-commit
pymdown-extensions
pygments
pytest
pytest-asyncio
pytest-cov
pytest-html
pyyaml
sphinx
sphinx-autobuild
sphinx-book-theme
sphinx-markdown-parser
sphinx-design
sphinx-tabs
tqdm
types-python-dateutil
types-pyyaml
types-tqdm

# For you sanity please sync with .pre-commit-config.yaml
ruff
mypy
