name: LuxOS-Tooling Daily

on:
  schedule:
    - cron: "0 0 * * *"
  # pull_request:
  #   branches:
  #     - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

env:
  CI_GCP_PROJECT_ID: ${{ secrets.CI_GCP_PROJECT_ID }}
  CI_GCP_SERVICE_ACCOUNT: ${{ secrets.CI_GCP_SERVICE_ACCOUNT }}
  CI_GCP_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.CI_GCP_WORKLOAD_IDENTITY_PROVIDER }}
  CI_GCP_REPOSITORY: luxos-tooling
  TIMESTAMP: $(date +'%d-%m-%Y')

jobs:
  sonarqube-scan-and-report:
    name: Sonarqube Scan and Report
    timeout-minutes: 30
    runs-on: self-hosted

    permissions:
      contents: write
      id-token: write
      actions: read
      security-events: write

    steps:
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        with:
          args: >
            -Dsonar.projectKey=LuxorLabs_luxos-tooling_AY8ZhIziTvku2ezx3-LE
            -Dsonar.projectName=luxos-tooling
